# Project
COMPOSE_PROJECT_NAME=cftf
PORT=3000
# APP_DEBUG must be set for Postgres
APP_ENV=prod
APP_DEBUG=false

# Database configuration
USE_POSTGRES=true
DATABASE_DRIVER=pdo_pgsql                           # MySQL: pdo_mysql
DATABASE_URL=postgresql://cftf:cftf@db:5432/cftf    # MySQL: mysql:host=%database_host%;port=%database_port%;dbname=%database_name%
DATABASE_HOST=db                                    # MySQL: db
DATABASE_PORT=5432                                  # MySQL: 3306
DATABASE_NAME=cftf                                  # MySQL: cftf
DATABASE_USER=cftf                                  # MySQL: cftf
DATABASE_PASSWORD=cftf                              # MySQL: cftf
DATABASE_CHARSET=UTF8                               # MySQL: utf8mb4
DATABASE_VERSION=12.3                               # MySQL: 5.7
DATABASE_FILTER=''                                  # MySQL: ~^(?!(cache_items|LearningStandards|std_*|map_*|grade_level))~

LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_ALL=en_US.UTF-8

#MYSQL_VERSION=5.7
#MYSQL_ROOT_PASSWORD=cftf
#MYSQL_DATABASE=cftf
#MYSQL_USER=cftf
#MYSQL_PASSWORD=cftf
#MYSQL_HOST=db
DB_USE_RDS_CERT=0

# Postgres Defaults
#USE_POSTGRES=true
#POSTGRES_URL=postgresql://cftf:cftf@db:5432/cftf
#POSTGRES_HOST=db
#POSTGRES_PORT=5432
#POSTGRES_DB=cftf
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Magpie-Whip-Zephyr-Ghost-81



#XDEBUG_CONFIG= Your IP address

APP_SECRET=ThisTokenIsNotSoSecretSoChangeIt
COOKIE_SECRET=ThisTokenIsNotSoSecretChangeIt

#MAILER_TRANSPORT=smtp
#MAILER_HOST=127.0.0.1
#MAILER_USER=
#MAILER_PASSWORD=
#MAILER_AUTH_MODE=
#MAILER_PORT=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

BRAND_LOGO_URL=
BRAND_LOGO_STYLE=
BRAND_LINK_URL=
BRAND_LINK_STYLE=

ALLOW_EXTERNAL_DEV_IPS=
DEV_COOKIE=

COMMENTS_FEATURE=inactive
COMMENT_ATTACHMENTS=inactive
CREATE_ACCOUNT_FEATURE=inactive

USE_MAIL_FEATURE=inactive
MAIL_FEATURE_FROM_EMAIL=send@example.com

#FIREBASE_API_KEY=
#FIREBASE_AUTH_DOMAIN=
#FIREBASE_DB_URL=
#FIREBASE_PROJECT_ID=
#FIREBASE_CLIENT_ID=
#FIREBASE_CLIENT_EMAIL=
#FIREBASE_PRIVATE_KEY=
#FIREBASE_PREFIX=opensalt

#GOOGLE_CAPTCHA_SITE_KEY=
#GOOGLE_CAPTCHA_SECRET_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PREFIX=
AWS_S3_BUCKET=
ATTACHMENT_URL_PREFIX=
BUCKET_PROVIDER=
LOCAL_FILESYSTEM_PATH=
